<div class="px-4 py-2 h-[50%]">
  <h1 class="text-3xl text-center font-bold my-4">Thêm Người dùng</h1>
  <form
    action=""
    class="flex flex-col"
    [formGroup]="themUserForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Tài Khoản</mat-label>
      <input matInput type="text" formControlName="taiKhoan" />
      <mat-error *ngIf="themUserForm.controls.taiKhoan.errors?.['required']"
        >Tài khoản là bắt buộc</mat-error
      >
      <mat-error *ngIf="themUserForm.controls.taiKhoan.errors?.['minlength']"
        >Ít nhất trên 6 ký tự</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Mật khẩu</mat-label>
      <input type="password" matInput formControlName="matKhau" />
      <mat-error *ngIf="themUserForm.controls.taiKhoan.errors?.['required']"
        >Mật Khẩu là bắt buộc</mat-error
      >
      <mat-error *ngIf="themUserForm.controls.taiKhoan.errors?.['minlength']"
        >Ít nhất trên 6 ký tự</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-error *ngIf="themUserForm.controls.email.errors?.['pattern']"
        >Email là bắt buộc</mat-error
      >
      <mat-error *ngIf="themUserForm.controls.email.errors?.['required']"
        >Không đúng định dạng email</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Số điện thoại</mat-label>
      <input type="text" matInput formControlName="soDt" />
      <mat-error *ngIf="themUserForm.controls.soDt.errors?.['required']"
        >Số điện thoại là bắt buộc</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Mã nhóm</mat-label>
      <mat-select formControlName="maNhom">
        <mat-option value="GP01">GP01</mat-option>
        <mat-option value="GP01">GP02</mat-option>
      </mat-select>
      <mat-error *ngIf="themUserForm.controls.maNhom.errors?.['required']"
        >Mã nhóm là bắt buộc</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Mẫ loại người dùng</mat-label>
      <mat-select formControlName="maLoaiNguoiDung">
        <mat-option value="KhachHang">Khách Hàng</mat-option>
        <mat-option value="QuanTri">Quản trị</mat-option>
      </mat-select>
      <mat-error
        *ngIf="themUserForm.controls.maLoaiNguoiDung.errors?.['required']"
        >Mã loại người dùng là bắt buộc</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-form-field w-[500px]">
      <mat-label>Họ Tên</mat-label>
      <input matInput type="text" formControlName="hoTen" />
      <mat-error *ngIf="themUserForm.controls.hoTen.errors?.['required']"
        >Họ Tên là bắt buộc</mat-error
      >
    </mat-form-field>

    <div class="flex items-center">
      <button
        mat-raised-button
        color="primary"
        class="flex items-center justify-center"
        [disabled]="!themUserForm.valid"
      >
        Thêm
      </button>
      <!-- <mat-spinner
          *ngIf="isLoading"
          class="ml-2"
          style="width: 15px; height: 15px"


        ></mat-spinner> -->
    </div>
  </form>
</div>
