<div class="grid grid-cols-12">
  <div class="col-span-4">
    <div><img [src]="ThongtinPhim.hinhAnh" alt="" /></div>
  </div>
  <div class="col-span-8">
    <mat-tab-group>
      <mat-tab label="Thong tin phim">
        <div class="p-5">
          <div class="text-gray-400">Ten Phim</div>
          <div class="text-xl mb-4">{{ ThongtinPhim.tenPhim }}</div>
          <div class="text-gray-400">Mo Ta</div>
          <div class="text-xl mb-4">{{ ThongtinPhim.moTa }}</div>
          <div class="text-gray-400">danh gia</div>
          <div class="text-xl mb-4">{{ ThongtinPhim.danhGia }}</div>
          <div class="text-gray-400">Ngay khoi chieu</div>
          <div class="text-xl mb-4">
            {{ ThongtinPhim.ngayKhoiChieu | date }}
          </div>
        </div>
      </mat-tab>
      <mat-tab label="trailer">
        <iframe
          width="100%"
          height="500"
          [src]="ThongtinPhim.trailer | safe"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe
      ></mat-tab>

      <mat-tab label="Thong tin lich chieu">
        <div *ngFor="let item of ThongtinPhim.lichChieu">
          <h2>ten rap {{ item.thongTinRap.maCumRap | uppercase }}</h2>
          <p>ngay gio: {{ item.ngayChieuGioChieu | date }}</p>

          <button
            mat-raised-button
            color="primary"
            routerLink="/datve/{{ item.maLichChieu }}"
          >
            dat ve
          </button>
        </div>
        <!-- <app-showtime></app-showtime> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
