<div class="flex justify-center items-center p-5">
  <div>
    <h1 class="text-3xl text-center font-bold my-4">Đăng Ký</h1>
    <form
      action=""
      class="flex flex-col"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Tài Khoản</mat-label>
        <input matInput type="text" formControlName="taiKhoan" />
        <mat-error *ngIf="registerForm.controls.taiKhoan.errors?.['required']"
          >Tài Khoản là bắt buộc</mat-error
        >
        <mat-error *ngIf="registerForm.controls.taiKhoan.errors?.['minlength']"
          >Ít nhất trên 6 ký tự</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Mật Khẩu</mat-label>
        <input type="password" matInput formControlName="matKhau" />
        <mat-error *ngIf="registerForm.controls.taiKhoan.errors?.['required']"
          >Mật Khẩu là bắc Buộc</mat-error
        >
        <mat-error *ngIf="registerForm.controls.taiKhoan.errors?.['minlength']"
          >Ít nhất trên 6 ký tự</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error *ngIf="registerForm.controls.email.errors?.['pattern']"
          >Email không đúng định dạng</mat-error
        >
        <mat-error *ngIf="registerForm.controls.email.errors?.['required']"
          >Email là bắt buộc</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Số điẹn thoại </mat-label>
        <input type="text" matInput formControlName="sdt" />
        <mat-error *ngIf="registerForm.controls.soDt.errors?.['required']"
          >Số điẹn thoại là bắt buộc</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label> Mã Nhóm</mat-label>
        <mat-select formControlName="maNhom">
          <mat-option value="GP01">GP01</mat-option>
          <mat-option value="GP01">GP02</mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls.maNhom.errors?.['required']"
          >Mã Nhóm là bắt buộc</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Mã loại người dùng</mat-label>
        <mat-select formControlName="maLoaiNguoiDung">
          <mat-option value="KhachHang">Khách Hàng</mat-option>
          <mat-option value="QuanTri">Quản trị</mat-option>
        </mat-select>
        <mat-error
          *ngIf="registerForm.controls.maLoaiNguoiDung.errors?.['required']"
          >Mã loại người dùng là bắt buộc</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-form-field w-[500px] mb-3">
        <mat-label>Họ Tên</mat-label>
        <input matInput type="text" formControlName="hoTen" />
        <mat-error *ngIf="registerForm.controls.hoTen.errors?.['required']"
          >Họ Tên là bắt buộc</mat-error
        >
      </mat-form-field>

      <div class="flex items-center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!registerForm.valid"
          class="flex items-center justify-center"
        >
          Đăng nhập
        </button>
        <mat-spinner
          *ngIf="isLoading"
          class="ml-2"
          style="width: 15px; height: 15px"
        ></mat-spinner>
      </div>
    </form>
  </div>
</div>
